@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.scroll-style-none {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scroll-style-none::-webkit-scrollbar {
  display: none;
}

@layer utilities {
  .after-line > span {
    position: relative;
  }

  .after-line > span::after {
    content: '';
    position: absolute;
    bottom: 0.1em;
    left: 50%;
    height: calc(1.6px + 0.04em);
    width: 0;
    background-color: currentColor;
    border-color: var(--background);
    border-width: calc(0.8px + 0.02em) 0;
    transition: width 0.25s ease, left 0.25s ease;
    pointer-events: none;
  }

  .after-line:hover > span::after, .after-line:focus > span::after {
    width: 100%;
    left: 0;
  }
}


@layer utilities {
  @keyframes slide-in-left {
    to {
      opacity: 100;
      transform: translateX(0);
    }
  }
  
  .slide-in-left {
    opacity: 0;
    transform: translateX(-70%);
    animation: slide-in-left 0.3s linear forwards;
    animation-delay: calc(var(--index) * 120ms);
  }

  .slide-in-left:nth-child(1) {
    --index: 0;
  }
  .slide-in-left:nth-child(2) {
    --index: 1;
  }
  .slide-in-left:nth-child(3) {
    --index: 2;
  }
  .slide-in-left:nth-child(4) {
    --index: 3;
  }
  .slide-in-left:nth-child(5) {
    --index: 4;
  }
  .slide-in-left:nth-child(6) {
    --index: 5;
  }
  .slide-in-left:nth-child(7) {
    --index: 6;
  }
  .slide-in-left:nth-child(8) {
    --index: 7;
  }
}
